<!doctype html> 
<html lang='en'>
<head>
	<title>Thanks for your Purchase!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
	<div id='container'>
		<div id='header'>

            <a href="/"><h1>Photo Dojo</h1></a>

			{% if 'email' not in session %}
                <div id="login_register">
                    <p>Login</p>
                    <form action="/login" method="POST">
                        <input class="input_fields" type="text" name="email" placeholder="email">
                        <input class="input_fields" type="password" name="password" placeholder="password">
                        <input class="submit_button" type="submit" value="submit">  
                    </form>
                    <a href="/register">Not a user? Register <span id="blue">here</span></a>
                </div>
            {% else %}
                <div id="welcome_cart">
                    <p>Welcome {{ session['first_name']}} &nbsp &nbsp | &nbsp &nbsp <a href="/purchase">Cart ( {{ session['total_items']}} )</a> &nbsp &nbsp | &nbsp &nbsp<a href="/logout">Logout</a></p>
                </div>
            {% endif %}
		</div>
		<div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/category">Categories </a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div> <!--end of nav-->
		<div id='download_body'>

			<h3> Thank you for your purchase! </h3>

			<p> Here are the links for you to download the full-sized, high-resolution images:</p>

			<ul>
				{% for download in downloads %}
					<li> <a href="{{ download['url'] }}">{{ download['url'] }}</a></li>
				{% endfor %}
			</ul>			

		</div> <!-- end of download_body -->

	</div>
</body>
</html>



