<!doctype html>
<html lang="en">
<head>
    <title>Photo Dojo</title>
    <meta charset="utf-8">
    <meta name="description" content="Photos">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.slides.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $(function(){
              $("#main_body").slidesjs({
                width: 1100,
                height: 700,
                play: {
                    active: false,
                    effect: "fade",
                    interval: 3000,
                    auto: true,
                    pauseOnHover: false,
                    restartDelay: 2500,
                },
                navigation: false,
                pagination: false        
              });
            });
            $('.thumbnails').hover(function(event){
                console.log(event)
                var temp = $(this).attr('src');
                $(this).attr('src', $(this).attr('alt'));
                $(this).attr('alt', temp);
            })
        });    
  </script>

</head>

<body>

    <div id="container">

        <div id="header">

            <a href="/"><h1>Photo Dojo</h1></a>

            {% if 'email' not in session %}
                <div id="login_register">
                    <p>Login</p>

                    <form action="/login" method="POST">
                        <input class="input_fields" type="text" name="email" placeholder="email">
                        <input class="input_fields" type="password" name="password" placeholder="password">
                        <input class="submit_button" type="submit" value="submit">  
                    </form>

                    <a href="/register">Not a user? Register <span id="blue">here</span></a>

                </div> <!-- end of login_register -->

            {% else %}
                <div id="welcome_cart">
                    <p>Welcome {{ session['first_name']}} &nbsp &nbsp | &nbsp &nbsp <a href="/purchase">Cart ( {{ session['total_items']}} )</a> &nbsp &nbsp | &nbsp &nbsp<a href="/logout">Logout</a></p>
                </div>

            {% endif %}

        </div> <!-- end of header -->

        <div id="flashed_messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p> {{message}} </p>
                    {% endfor %}    
                {% endif %}
            {% endwith %}
        </div> <!--end of flashed_messsages -->

        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/category">Categories </a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div> <!--end of nav-->

        <div id="main_body">
            <img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/1011.JPG">
            <img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/1010.JPG">
            <img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/2001.JPG">
            <img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/3012.JPG">
        </div> <!-- end of main body -->   

        <div id="bottom_pics">

            <a href="/category"><img class="thumbnails" src="https://s3-us-west-1.amazonaws.com/codingdojo/small/2003.jpg" alt="https://s3-us-west-1.amazonaws.com/codingdojo/small/2006.jpg"></a>
            <a href="/category"><img class="thumbnails" src="https://s3-us-west-1.amazonaws.com/codingdojo/small/1005.jpg" alt="https://s3-us-west-1.amazonaws.com/codingdojo/small/3011.jpg"></a>
            <a href="/category"><img class="thumbnails" src="https://s3-us-west-1.amazonaws.com/codingdojo/small/1006.jpg" alt="https://s3-us-west-1.amazonaws.com/codingdojo/small/1009.jpg"></a>
            <a href="/category"><img class="thumbnails" src="https://s3-us-west-1.amazonaws.com/codingdojo/small/2002.jpg" alt="https://s3-us-west-1.amazonaws.com/codingdojo/small/2009.jpg"></a>

        </div>        

    </div> <!--end of container -->
   
</body>
</html>