<!doctype html> 
<html lang='en'>
<head>
	<title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
	<div id='container'>
		<div id='header'>

            <a href="/"><h1>Photo Dojo</h1></a>

			{% if 'email' not in session %}
                <div id="login_register">
                    <p>Login</p>
                    <form action="/login" method="POST">
                        <input class="input_fields" type="text" name="email" placeholder="email">
                        <input class="input_fields" type="password" name="password" placeholder="password">
                        <input class="submit_button" type="submit" value="submit">  
                    </form>
                    <a href="/register">Not a user? Register <span id="blue">here</span></a>
                </div>
            {% else %}
                <div id="welcome_cart">
                    <p>Welcome {{ session['first_name']}} &nbsp &nbsp | &nbsp &nbsp <a href="/purchase">Cart ( {{ session['total_items']}} )</a> &nbsp &nbsp | &nbsp &nbsp<a href="/logout">Logout</a></p>
                </div>
            {% endif %}
		</div>
		<div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/category">Categories </a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div> <!--end of nav-->
		<div id='purchase_body'>

			<div id = "checkout">
				{%if 'cart' not in session or cart == "empty" %}
					<p>Your cart is empty</p>
				{% else %}	

					{% for item in session['total_cart'] %}

						<img src="{{ item['small_url'] }}">

						<div class='pic_info'>  
							<p>${{ item['price'] }} </p> <a class="remove_from_cart" href="/remove_cart_item/{{ item['id'] }}">Remove from cart</a>
						</div>

					{% endfor %}
				{% endif %}	

			</div>

			<div id='purchase'>

				<p><span id="red">Total: </span> $ {{ total_price }} </p>

				{% if total_price > 0 %}

					<form action="/process_stripe" method="POST">
					  <script
					    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
					    data-key="pk_test_0haGVlEcEiv6PMEEi0jEHzn9"
					    data-amount = "{{ total_price }}00"
					    data-name="Photo Dojo"
					    data-description="{{ session['total_items'] }} photos (${{total_price}})"
					    data-image="/static/sd-100309-balloon-05.jpg"
					    data-locale="auto">
					  </script>
					</form>

				{% endif %}

			</div> <!-- end of purchase -->

		</div>
	</div>
</body>
</html>



